html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(239, 240, 241);
}
h1, h2, h3, h4 {
  font-weight: bolder;
}
h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0.67rem 0;
}
h3 {
  font-size: 1.17rem;
  margin: 0.83rem 0;
}
h4 {
  font-size: 1rem;
  margin: 1.12rem 0;
}
h5 {
  font-size: 0.85rem;
  margin: 1.5rem 0;
}

h6 {
  font-size: 0.75rem;
  margin: 1.67rem 0;
}
p {
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
  word-break: break-word;
}
a {
  text-decoration: none;
}
.dark {}
.body {
  height: 100%;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  min-height: 100%;
}
.dark .body {
  background-color: rgb(65, 65, 65);
  color: #fff;
}
.dark a {
  color: #fff;
}
.header {
  height: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  background-color: #03a9f4;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.header a.logo {
  font-family: cursive;
  font-size: 3rem;
}
.header a {
  color: #fff;
  margin: 0 15px;
}
.header .view-switch, .header .editor-icon, .header .list-icon {
  float: right;
}
.header .view-switch.sun:before {
  content: "\2600";
}
.header .view-switch.mood:before {
  content: "\262A";
}
.header .editor-icon.note:before {
  content: "\266F";
}
.header .editor-icon.read:before {
  content: "\2716";
}
/*.header .list-icon.list:before {
  content: "\2652";
}
.header .list-icon.recard:before {
  content: "\039E";
}*/

.header .container {
  background-color: #03a9f4;
  height: 100%;
}
.dark .header {
  height: 5rem;
  font-size: 2.5rem;
  line-height: 5rem;
  background-color: #455a64;
}
.dark .header .container {
  background-color: #455a64;
  height: 100%;
}
.body {
  height: calc(100% - 5rem - 2px);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {

  }
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .header {

  }
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1400px) {
  .header {

  }
  .container {
    width: 1170px;
  }
}
.card:last-child {
  margin-bottom: 15px;
}
.card {
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 2px;
  /*box-shadow: 1px 1px 0px 0px rgba(225, 225, 225, 0.2),
              1px 0px 0px 1px rgba(225, 225, 225, 0.2),
              0px 0px 1px 1px rgba(225, 225, 225, 0.2),
              0px 1px 1px 0px rgba(225, 225, 225, 0.2);*/
}
.dark .card {
  background: #191919;
  color: #fff;
}
.card .card-title {
  padding: 15px;
}
.card .card-content {
  padding: 0 15px;
  margin: 0;
}
.card .card-image {
  padding: 0 15px;
  display: inline-block;
}
.card .card-image img{
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card .card-image img {
    width: 250px;
    height: 154.5px;
    max-width: auto !important;
  }
  .card .card-image + .card-content {
    position: absolute;
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .card .card-image img {
    max-height: 474px;
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .card .card-image img {
    max-height: 255.8px;
    width: 100%;
    overflow: hidden;
  }
}
.card .card-footer {
  padding: 10px 15px;
  position: relative;
}
.dark .card .card-footer a {
  position: absolute;
  right: 15px;
  color: #fff;
}
.card .card-footer a {
  position: absolute;
  right: 15px;
  color: #444;
}

.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}
.need-more {
  height: 6rem;
  text-align: center;
}
.need-more a {
  width: 4rem;
  border-radius: 4rem;
  background: #F44336;
  color: #fff;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  margin: 1rem;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.need-more a:after {
  content: "\263A";
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  margin-top: 0px;
  left: 0;
  position: absolute;
}
.need-more a.no-data {
  color: #F44336;
  background: #fff;
}
.need-more a.no-data:after {
  content: "\2639";
  width: 4rem;
  height: 4rem;
  left: 0;
  font-size: 4rem;
  margin-top: 1px;
  position: absolute;
}
.article {
  padding: 0 15px;
}
.article div {
 line-height: 1.5;
}
.read-source {
  height: 3rem;
  margin: 1rem 0;
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  background: #26a69a;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.read-source a {
  color: #fff !important;
  text-align: center;
  line-height: 3rem;
  position: relative !important;
}
.editor-container {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  /*overflow: hidden;*/
}
#editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: none;
}
#editor .editor-title {
  height: 3rem;
  background: #191919;
}
#editor .editor-title input{
  width: 80%;
  padding: 0 15px;
  height: 2.5rem;
  color: #fff;
  background: #191919;
  margin-top: 0.25rem;
  border: 0;
  outline: none;
}
.editor-container #editor {
  display: inline-block;
}/*
.preview #editor textarea, .preview #editor .marked-content{
  display: inline-block;
  width: 49%;
  border-right: 1px solid #ccc;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}*/
#editor .editor-tool {
  padding: 10px;
  background-color: #eee;
  font-size: 1.3rem;
  margin-top: -3px;
}
#editor .editor-tool .save {
  color: #000;
  float: right;
  font-weight: bolder;
}
#editor .editor-tool .pre {
  color: #000;
}
#editor .editor-tool .pre:before {
  content: "\25C4";
}
#editor.preview .editor-tool .pre:before {
  content: "\25BA";
}
#editor textarea {
  border: none;
  resize: none;
  outline: none;
  background-color: #191919;
  color: #fff;
  padding: 0 15px;
  padding-top: 0.5rem;
  width: calc(100% - 30px);/*明明margin 30px,为什么要减45px*/
  height: calc(100% - 20px - 2rem - 3rem);
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
}
@media screen and (max-width: 767px) {
  .editor-container .article {
    height: 50%;
    overflow: auto;
    /*margin-bottom: 50%;*/
  }
  .article img {
    max-width: 100% !important;
    height: auto;
    width: 100%;
  }
  .editor-container #editor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
  }
  #editor .editor-tool {
    width: calc(100% - 20px);
  }
  #editor .editor-tool .pre:before {
    content: "\25B2";
  }
  #editor.preview .editor-tool .pre:before {
    content: "\25BC";
  }
  .editor-container #editor textarea {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .editor-container {
    width: 100%;
  }
  .article img {
    max-width: 400px;
    height: auto;
  }
  .editor-container .article {
    width: calc(49% + 30px);
    display: inline-block;
    overflow: auto;
    height: 100%;
  }
  .editor-container #editor {
    width: calc(50% - 47px);
    display: inline-block;
    position: absolute;
  }
  #editor textarea {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 1401px) {
  .editor-container {
    width: 1170px;
    margin: 0 auto;
  }
  .editor-container .article {
    width: calc(49% + 15px);
    display: inline-block;
    overflow: auto;
    height: 100%;
  }
  .article img {
    max-width: 400px;
    height: auto;
  }
  .editor-container #editor {
    width: calc(50% - 30px);
    display: inline-block;
    position: absolute;
  }
  #editor textarea {
    width: calc(100% - 30px);
  }
}
