body {
  /*perspective: 100px;*/
  /*-moz-user-select:none;*/
  -webkit-user-select:none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.nav-bar {
  background: #3f51b5;
  z-index: 999;
}

body.app .nav-bar, body.app .note-detail, body.app .notes, body.app .news-detail {
  padding-top: 20px;
}
body.app #news-modal.v-dialog.body-sroll .v-modal header, body.app .note-editor .v-dialog.body-sroll .v-modal header {
  padding-top: 38px;
  height: 78px;
}
body.app .v-modal .v-modal-body {
  height: calc(100% - 130px) !important;
}
body.app .notes-header {
  top: 2rem;
  box-sizing: border-box;
}
body.app .note-tags {
  top: 15rem;
}
body.app .news {
  margin-top: calc(13rem + 10px);
}
body.app .node-editor {
  padding-top: calc(1rem + 20px)
}
body.app .news-header {
  padding-top: 1.5rem !important;
}
body.app #news-modal .v-close, body.app .note-editor .v-close {
  margin-top: 20px;
}
.container {
  background: #d1beaf;
  float: left;
  width: 100%;
  min-height: 100%;
}
/***********************/
/*******header css******/
/***********************/
.home-icon, .edit-icon, .back-icon {
  color: #fff;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.home-icon {
  top: 1rem;
  left: 1rem;
  text-align: left;
}
.edit-icon {
  right: 1rem;
  text-align: right;
}
.edit-icon {
  float: right;
  margin-right: 0.5rem;
}
.back-icon {
  float: left;
  margin-left: 0.5rem;
  color: #fff;
  display: inline-block;
  height: 4rem;
  width: 4rem;
}
header.nav-bar .logo {
  display: inline-block;
  height: 4rem;
  overflow: hidden;
  width: 4rem;
  position: relative;
}
header.nav-bar .logo img {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
}
/*******************/
/****note-editor modal****/
/**********************/
#news-modal.v-dialog .v-modal, .note-editor .v-dialog .v-modal {
  z-index: 103;
  border-radius: 3px;
  background: #fafafa;
}
#news-modal.v-dialog .scrim, .note-editor .scrim {
  background: rgba(153, 153, 153, 0.5);
}
#news-modal.v-dialog.body-sroll .v-modal header, .note-editor .v-dialog.body-sroll .v-modal header {
  background: #3f51b5;
  color: #fff;
  padding-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  height: 58px;
}
#news-modal.v-dialog.body-sroll .v-modal footer, .note-editor .v-dialog.body-sroll .v-modal footer {
  position: fixed;
  bottom: 0;
  background: #fafafa;
}
#news-modal .v-close, .note-editor .v-close {
  color: #fff !important;
  position: absolute;
  right: 0;
  top: 0;
  height: 58px;
  width: 48px;
  line-height: 58px;
  font-size: 2rem;
}
.v-modal .v-modal-body {
  height: calc(100% - 110px) !important;
}
@media (max-width: 600px) {
  #news-modal.v-dialog.body-sroll .v-modal, .note-editor .v-dialog.body-sroll .v-modal {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 0;
  }
  #news-modal .v-modal .v-modal-body, .note-editor .v-modal .v-modal-body {
    padding: 1rem;
    -webkit-overflow-scrolling : touch;
  }
  #news-modal .scrim, .note-editor .scrim {
    display: none;
  }
  #news-modal .v-close, .note-editor .v-close {
    left: 0;
  }
  #news-modal.v-dialog.body-sroll .v-modal header, .note-editor .v-dialog.body-sroll .v-modal header {
    padding-left: 3rem;
  }
}
/***********************/
/********menu-bar css **/
/***********************/
.menu-bar {
  flex-flow: column;
  box-shadow: none;
  background: transparent;
  display: flex;
  position: fixed;
  line-height: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  color: #fff;
  z-index: 6;
  right: 1rem;
  bottom: 5rem;
}

.menu-bar a {
  flex: 1;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  flex: 1;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}
.menu-bar a i {
  display: inline-block;
  line-height: 3rem;
}
.menu-bar a:hover {
  background: rgba(153, 153, 153, 0.3);
}
@media (max-width: 600px) {
  .menu-bar {
    width: auto;
  }
  .menu-bar a {
    border-radius: 100%;
    background: #db4437;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  }
}
.load-more {
  text-align: center;
  color: #444;
  cursor: default;
}
.load-more i {
  font-size: 2rem;
  line-height: 3rem;
}
