body {
  /*perspective: 100px;*/
  /*-moz-user-select:none;*/
  /*-webkit-user-select:none;*/
}
body .home {

}
body .home::before {
  position: absolute;
  content: '';
  width: 100%;
  top: 0;
  bottom: 0;
  background: -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
    rgba(251, 255, 0, 0.62) 0%, rgba(255, 224, 0, 0.6) 2%, rgba(249, 0, 0, 0.4) 4%, rgba(249, 43, 43, 0.1) 8%, rgba(249, 43, 43, 0) 10%),
    -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
      rgba(254, 223, 255, 0.51) 0%, rgba(39, 0, 253, 0.3) 8%, rgba(56, 83, 175, 0.22) 17%),
      -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
          rgba(170, 173, 185, 0.2) 15%, rgba(0, 0, 0, 0.71) 60%, rgba(0, 0, 0, 1) 90%);
  z-index: -1;
}
@media (max-width: 1024px) {
  body .home::before {
    background: -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
      rgba(251, 255, 0, 1) 0%, rgba(255, 224, 0, 0.5) 1.5%, rgba(249, 0, 0, 0.3) 3%, rgba(249, 0, 0, 0.1) 5%, rgba(249, 43, 43, 0) 7%),
      -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
        rgba(254, 223, 255, 0.41) 0%, rgba(39, 0, 253, 0.2) 4%, rgba(56, 83, 175, 0.22) 10%),
        -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
            rgba(170, 173, 185, 0.1) 7%, rgba(0, 0, 0, 0.16) 16%, rgba(0, 0, 0, 0.4) 35%, rgba(0, 0, 0, 0.9) 90%);
    background:
        -webkit-radial-gradient(50% 50%, ellipse farthest-corner,
            rgba(170, 173, 185, 0.3) 0%, rgba(0, 0, 0, 0.9) 90%);
  }
}
body .home::after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  content: '';
  z-index: -1;
  transform: translateZ(20px);
  background: rgba(219, 219, 219, 0.2);
  /*box-shadow: 0 0 100px 100px rgba(255, 255, 255, 0.5) ;*/

}
 .logo {
  display: block;
  position: relative;
  height: 128px;
  width: 128px;
  margin: 0 auto;
  border-radius: 128px;
  border: 2px solid;
  border-color: #fff;

}
 .logo::before {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  border-radius: 48px;
  top: 14px;
  content: '';
  left: 40px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-30deg);
}
 .logo::after {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  border-radius: 48px;
  top: 64px;
  content: '';
  left: 26px;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-30deg);
}
.container {
  background: #d1beaf;
  float: left;
  width: 100%;
  min-height: 100%;
}
.side-bar {
  padding: 0 !important;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  top: 0;
  /*background: #fff;*/
}
.side-bar:hover {
  overflow: auto;
}
.side {
  padding: 0 1rem;
}
@media screen and (min-width: 601px) {
  .side {
    box-shadow: 0 0 0 #eee !important;
  }
}
.card-image {
  max-height: 300px;
  overflow: hidden;
}
.detail-container {
  padding: 1rem;
  box-sizing: border-box;
}
.tag {
  background: #607d8b;
  color: #fff;
  padding: 0.125rem 0.25rem;
  font-size: 0.8rem;
  margin: 0.125rem;
  margin-left: 0;
  font-weight: normal;
  position: relative;
  display: inline-block;
}
.menu-bar {
  display: flex;
  flex-flow: row;
  background-color: #3d3b4a;
  position: fixed;
  line-height: 3rem;
  bottom: 1rem;
  height: 3rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  color: #fff;
  z-index: 6;
}
.menu-bar.top {
  top: 0.5rem;
}
.menu-bar a {
  flex: 1;
  text-align: center;
  line-height: 3rem;
  color: #fff;
}
.menu-bar a i {
  display: inline-block;
  line-height: 3rem;
}
.menus {
  position: fixed;
  padding: 0;
  z-index: 5;
}
.menus ul {
  overflow: auto;
  top: 4rem;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: #3d3b4a;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  color: #fff;
}

.menus .close {
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 3rem;
  text-align: right;
  cursor: default;
}
@media (min-width: 601px) {
  .menus .close {
    display: none;
  }
  .menus.scrim {
    background: rgba(255, 255, 255, 0);
  }
  .menus ul li.item {
    display: block;
  }
  .menus ul {
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }
  .menus ul:hover {
    overflow: auto;
  }
  .menus {
    top: 0;
    bottom: 5rem;
  }
}
@media (max-width: 600px) {
  .menu-bar {
    width: calc(100% - 1rem);
  }
  .menus .close {
    display: block;
  }
  .menus ul {
    margin: 0 0.5rem;
    width: calc(100% - 1rem);
    bottom: 5rem;
    top: 20%;
    border-radius: 5px;
    position: fixed;
  }
  .menus ul li.item {
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid #fff;
  }
  .menus.scrim {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
  }
}
.load-more {
  text-align: center;
  color: #fff;
  cursor: default;
}
.load-more i {
  font-size: 2rem;
  line-height: 3rem;
}
