.page {
  height: 100%;
  margin: 0;
  position: relative;
}

.page h1 {
  font-family: Papyrus;
  color: rgb(255, 152, 0);
  z-index: 0;
  position: absolute;
  text-align: center;
  font-size: 48px;
  width: 100%;
  top: 30%;
  white-space: nowrap;
}
.finger {
  position: fixed;
  bottom: 16px;
  text-align: center;
  width: 100%;
  color: rgba(82, 82, 82, 0.1);
}
.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  width: 100%;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
}
.links a {
  color: rgba(6, 0, 255, 0.28);
  font-weight: 200;
  margin: 0 15px;
  text-decoration: none;
  text-align: center;
}
/*.justspan {
  position: absolute;
  top: 50%;
  left: 50%;
}
.justspan span {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 1px rgb(82, 82, 82);
  display: inline-block;
}*/
@media (max-width: 600px) {
  .page {
    background: rgb(26, 27, 45);
  }
  .page h1 {
    top: 48px;
    font-size: 48px;
  }
  .links {
    top: 30%;
    /*display: none;*/
    flex-direction: column;
  }
  .links a {
    flex: 1;
    color: #ababad;
  }
}
