.view {
  position: absolute;
  z-index: 15;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.3);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column;
}
.view .header {
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: bold;
  background: #ca3d3d;
  color: #fff;
  align-items: center;
  display: flex;
}
.view .header span {
  flex: 1;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.view .header i {
  width: 48px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  cursor: default;
}
.view .header i:first-child {
  display: none;
}
:global(.app) .view .header i:last-child {
  display: none;
}
:global(.app) .view .header i:first-child {
  display: block;
}
:global(.app) .view .header {
  padding-top: 20px;
}
.content {
  flex: 1;
  padding: 8px;
  padding-bottom: 60px;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling : touch;
}
.content img {
  height: auto !important;
  width: 100% !important;
  max-width: 100% !important;
  margin: 8px 0;
}
.hidden {
  top: calc(-100% - 5px);
  transition: all ease 0.3s;
}
.show {
  top: 0;
  transition: all ease 0.3s;
}
@media screen and (max-width: 700px) {
  .hidden {
    left: 100%;
    transform: none;
    transition: all cubic-bezier(0.23, 0.21, 0.31, 0.3) 0.2s;
    box-shadow: none;
  }
  .show {
    left: 0;
    transform: none;
    transition: all cubic-bezier(0.23, 0.21, 0.31, 0.3) 0.2s;
    box-shadow: none;
  }
}
@media screen and (min-width: 701px) {
  .view {
    width: 680px;
  }
}
@media screen and (min-width: 1025px) {
  .view {
    width: 740px;
  }
}

br + br {
  display: none;
}
